body{
    background-image: url(../images/20.jpg);
    background-position: center top;
    height: 2123px;
    background-repeat: no-repeat;
}
.container{
    width: 1510px;
}
.fc{
   display: flex; 
}
.fi{
    border: solid 2px;
}

.w-70{
    width: 70%;
}
.w-30{
    width: 30%;
}

.header{
   background-color: white;
   height: 166px;
}
.header h1{
    font-size: 67px;
    padding-left: 65px;
    padding-top: 75px
}
.professional-title{
    height: 83px;
}
.professional-title h3{
    color: #ffff;
    font-size: 32px;
    padding-left: 62px;
    padding-top: 26px
}
.main-section{
    /* background-color: white; */
    height: 1875px;
    /* padding-left: 66px; */
}